*{
    border: 0;
    margin: 0;
    padding: 0;
}

main, footer{    
    text-align: center;
}

table{
    border: 0.5em solid orange;
}

td, th{
    padding: 1em;
    margin: 1em;
    text-align: center;
}

tr {
    border-bottom: 0.3em solid orange;
    font-size: 1.1em;
}

th{
    text-align: center;    
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.titulo{
    background-color: orange;
    color:white;
    font-weight: bold;
    font-size: 1.5em;
}

.link{
    color: purple;
    text-decoration: underline;
}

.rojo{
    color: red;
}