*{
    border: 0;
    margin: 0;
    padding: 0;
}

header{
    background-color: #db133b;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

footer{
    background-color: orange;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

h1{
    font-weight: bold;
    font-family: Times New Roman;
    font-size: 1.5em;
    color: white;    
}

section{
    display: flex;
    flex-direction: row;
}

main {
    background-color: #fff8dc;   
    width: 80%;
}

aside{
    background-color: #deb887;
    width: 20%;
}

li{
    list-style: none;
    padding: 0.5em;
    color: white;
    background-color: #db133b;
    padding: 1em;
}

#negritas{
    font-weight: bold;
}