*{
    border: 0;
    margin: 0;
    padding: 0;
}

main, footer{    
    text-align: center;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    font-weight: bold;
    font-family: Times New Roman;
    font-size: 1.5em;
    color: white;    
}

#azul{
    font-weight: bold;
    color: blue;
    font-size: 1.2em;
}

#negritas{
    font-size: 1.5em;
    font-weight: bold;
}