*{
    border: 0;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.9em;
}

h2{
    font-size: 1.6em;
    margin: 1em;    
}

footer{    
    text-align: center;
}

article, section{
    display: flex;
    justify-content: center;
    align-items: center;
}

article{    
    flex-direction: column;      
    margin: 1em;      
}

section{
    flex-direction: row;        
}

label{
    font-size: 1.3em;
}

input{
    border: black solid 0.1em;
}

input[type=submit]{
    padding: 0.3em;
}

p{
    font-size: 1.5em;
    padding: 0.5em;
}

.der{
    text-align: right;
    margin-right: 2em;
}

.texto{
    text-indent: 3em;
    margin-left: 2em;
}