*{
    border: 0;
    margin: 0;
    padding: 0;    
}

main {
    background-color: lightskyblue;
}

footer, section, fieldset{        
    display: flex;    
    flex-direction: column;    
    align-items: center;    
}

fieldset{
    border: red solid 0.2em;    
    padding: 1.5em;        
}

legend{
    font-size: 1.2em;
    color: red;
    padding: 0.5em;
}

form, table{
    background-color: lightskyblue;    
}

table {
    border: 0.1em solid red;
    width: 40%;
}

th{
    background-color: lightcoral;
}

th, td {
    border: 0.1em solid black;
    text-align: center;
    color: white;
    font-weight: bold;    
}

td{
    color: black;
}

label, input[type=submit]{
    display: block;
    margin: 1em;
    font-size: 1.3em;
}

input{
    font-size: 0.8em;
}

input[type=text], input[type=password], input[type=submit], #tip{
    border: 0.1em solid red;
}

input[type=submit]{    
    padding: 1em;
}