* {
    margin: 0;
    padding: 0;
    border: 0;
}

@media all and (min-width:700px) {
    header, footer {
        background-color:lightblue;
        text-align: center;
        color: navy;
    }

    header, footer {
        padding: 1em;
    }

    footer a {
        text-decoration: none;
        color: navy;
        font-size: 1.5em;
    }

    footer a:hover, footer a:focus {
        background-color: navy;
        color: powderblue;
    }
}