*{
    border: 0;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.3em;
    margin: 0.5em;
}

h2{
    font-size: 1.9em;
    margin: 0.5em;
}

p{
    font-size: 1.5em;
    margin: 0.5em;
}

footer , header{    
    text-align: center;
    margin: 2em;    
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

ul li{
    margin: 2em;
    font-size: 1.5em;        
    font-weight: bold;
    padding: 1em;
    background-color: lightblue;
    border: darkblue solid 0.1em;
}

a{
    text-decoration: none;    
    color: black;    
}

ul li:hover{
    text-decoration: underline;
    color: white;
}

fieldset, main{    
    display: flex;
    flex-direction: column;   
    align-items: center; 
    justify-content: center;
}

label{
    margin: 1em;
    font-size: 1.3em;
}

input {
    border: solid black 0.05em;
    font-size: 1.2em
}

input[type=submit]{
    padding: 1em;    
    font-weight: bold;    
}

#solicitar{
    border: solid darkgreen 0.1em;
    background-color: lightgreen;
}

#pagar{
    border: solid darkred 0.1em;
    background-color: lightsalmon;
    color: white;
}

#rojo{    
    color: red;    
}